@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open-sans', sans-serif;
}



header .line {
    background-color: #167051;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    line-height: 110px;
    padding-top: 90px;
    padding-bottom: 40px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    margin: 10px 0;
    line-height: 40px;
}

.title--bar {
    width: 140px;
    height: 20px;
    background-color: #167051;
}

.button {
    text-decoration: none;
    color: #000;
    letter-spacing: 1.6px;
    border: 2px solid #454545;
    border-radius: 3px;
    padding: 14px 30px;
}

.button:hover {
    background-color: #454545;
    color: #fff;
}



.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img {
    width: 64px;
}

.header--search {
    border: 1px solid rgba(0, 0, 0, 30%);
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}

.header--search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--search input {
    outline: 0;
    border: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: 250px;
    font-size: 16px;
}

.header--search button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;

}

.header--search button img {
    width: 15px;
    
}

.header--search button:hover {
    border-radius: 0 5px 5px 0;
    border: 1px solid #000;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

.header--menu img {
    width: 24px;
    margin-left: 40px;
    cursor: pointer;
}



.banner {
    padding-left: 20px;
    padding-bottom: 200px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.banner p {
    font-weight: 300;
}

.banner--images {
    margin-top: 50px;
}

.banner--images img {
    width: 160px;
    margin-right: 40px;
    border-radius: 50%;
    border: 6px solid #167051;
}


.area1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.area1--content {
    grid-column: 1 / 2;
    padding: 100px;
}

.area1--img1 {
    background-image: url('../images/f1.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.area1--img2 {
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 350px;
}

.area1--quote {
    font-family: 'Open-sans', sans-serif;
    font-style: italic;
}

.area1--text {
    margin: 25px 0 80px 0;
    line-height: 25px;
}


.area2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.area2--content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding:100px;
}

.area2--text {
    margin: 25px 0 80px 0;
    line-height: 25px;
}

.area2--img1 {
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

}

.area2--img2 {
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 450px;
}


